<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="org.springframework" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>

        <Logger name="log4j.logger.org.springframework" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="org.mybatis" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="ming.test.cloud" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Logger name="callcenter" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>